rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
  match /b/{bucket}/o {

    // Function to check if the user is authenticated
    function isAuthenticated() {
      return request.auth != null;
    }

    // Function to check if the user is the admin
    function isAdmin() {
      return isAuthenticated() && request.auth.token.email == "gm.mpg@runningman.local";
    }

    match /profilePhotos/{userId}/{allPaths=**} {
      allow write: if isAuthenticated() && request.auth.uid == userId;
    }

    match /{allPaths=**} {
      // Anyone authenticated can read/download the audios
      allow read: if isAuthenticated();
      
      // ONLY the admin can upload, modify, or delete files. 
      // This protects against malicious file uploads and DDOS via storage exhaustion by malicious users.
      allow write: if isAdmin();
    }
  }
}