rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
  match /b/{bucket}/o {

    // Function to check if the user is authenticated
    function isAuthenticated() {
      return request.auth != null;
    }

    // Function to check if the user is the admin
    function isAdmin() {
      return isAuthenticated() && request.auth.uid == "5TZK6YHmOOTe5padFPqCbXuavPu1";
    }

    match /profilePhotos/{userId}/{allPaths=**} {
      allow read: if isAuthenticated();
      allow write: if isAuthenticated() && request.auth.uid == userId;
    }

    match /audios/{allPaths=**} {
      allow read: if isAuthenticated();
      allow write: if isAdmin();
    }

    match /mediaAssets/{allPaths=**} {
      allow read: if isAuthenticated();
      allow write: if isAdmin();
    }

    match /{allPaths=**} {
      allow read: if isAdmin();
      allow write: if isAdmin();
    }
  }
}